#aboutPageContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-items: start;
    margin-left: 5px;
    margin-right: 5%;
}
#rocketContainer{
    grid-column: 1;
    height: auto;
    width: 10%;
}
#rocketImg{
    width: 400px;
    height: auto;
}
#aboutDiv{
    grid-column: 2;
    margin: auto 25px;
}

#contactDiv{
    text-align: center;
    grid-column: 3;
    align-self: start;
}
#contact{
    margin-bottom: 0;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}
.position{
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 1024px){
    #aboutPageContainer{
        grid-template-columns: 1fr; 
    }
    #aboutDiv, #contactDiv{
        grid-column: 1;
    }
    #contactDiv{
        margin-bottom: 10px;
    }
    #rocketImg{
        visibility: hidden;
        width: 0px;
        height: auto;
    }
    .subtitle{
        margin-bottom: 0;
    }
}
