#homeContainer{
    text-align: center;
    margin: auto;
    width: 50%;
}
#infoDiv, #contactMe{
    margin: auto 10px;
}

#europaHome{
    text-align: center;
    margin: 20px auto;
    width: 80%;
}
p{
    color: #f7eee1;
    text-shadow: 2px 1px 3px #070236, -2px -1px 3px #070236;
}
/*@media (max-width: 1024px){
    #homeContainer{
        width: 100%;
        text-align: center;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2fr 1fr);
        grid-template-rows: auto;
        gap: 10px;
        align-items: start;
    }
    #infoDiv{
        grid-column: 1;
        margin-left: 0;
    }
    #contactMe{
        grid-column: 2;
        margin-right: 0;
    }
}*/

@media (max-width: 768px){
    #homeContainer{
        width: 100%;
        text-align: center;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        align-items: start;
    }
    #infoDiv{
        grid-column: 1;
    }
    #contactMe{
        grid-column: 1;
    }
}