/*MAIN CONTENT CONTAINER*/
#homeContainer{
    text-align: center;
    margin: auto;
    width: 50%;
}

/*LOGO*/
#logoDiv{
    margin: 20px;
    display: inline-block;
    left: 18%;
    position: relative;
    
}
#logo{
    width: 150px;
}

/*HEADER*/
.headerDiv{
    display: inline-block;
    position: relative;
    left: 7%;
    text-align: center;
    margin: auto;
}
.headerDiv h1{
    font-size: 60px;
    margin: auto;
}
#myName{
    position: relative;
    left: 70%;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    width: 100px;
    padding: 0;
}

/*INFO*/
#infoDiv{
    margin: 10px auto;
    width: 80%;
}
#homeInfo{
    font-size: 20px;
}

/*CONTACT ME*/
#blastOff{
    font-size: 20px;
    color: var(--lightCream);
    text-shadow: 2px 1px 4px var(--darkBlue), -2px -1px 4px var(--darkBlue);
}
#contactMe{
    margin: 30px;
}

#sendMessage{
    font-size: 20px;
    padding: 10px;
}

/*EUROPA*/
#europaHome{
    text-align: center;
    margin: 20px auto;
    width: 80%;
}


/*FOR SPLIT SCREEN & TABLETS*/
@media (max-width: 1024px){
    #homeContainer{
        width: 100%;
        text-align: center;
        margin: auto;
        grid-template-rows: auto;
        gap: 10px;
        align-items: start;
    }
    #infoDiv{
        margin: auto;

    }
    #contactMe{
        grid-column: 2;
        margin-right: 0;
    }
    #logoDiv{
        left: 0;
        margin: 20px auto;
        display: block;
        text-align: center;
    }
    #logo{
        width: 150px;
    }
    .headerDiv h1{
        font-size: 50px;
    }
    #myName{
        left: 80%;
    }
}

/*FOR MOBILE*/
@media (max-width: 600px){
    #homeContainer{
        width: 100%;
        text-align: center;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        align-items: start;
    }
    #infoDiv{
        grid-column: 1;
    }
    #contactMe{
        grid-column: 1;
    }
    #logoDiv{
        left: 0;
        margin: 20px auto;
        display: block;
        text-align: center;
    }
    #logo{
        width: 100px;
    }
    #myName{
        left: 70%;
    }
}