#jumpToDiv{
    text-align: left;
    width: 350px;
    margin: auto;
    padding: 10px;
}
.jumpTo, #jumpToLabel{
    text-decoration: none;
    color: #f7eee1;
    text-shadow: 2px 1px 3px #070236, -2px -1px 3px #070236;
    transition: color 0.15s;
}
.jumpTo:hover{
    color: #e3d3c0;
}
.jumpTo:active{
    color: #f4dbb7;
}
#jumpToLabel{
    text-decoration: underline;
}

#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

#expandedImage {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    border-radius: 10px;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#closeButton:hover {
    color: #ccc;
}


.carousel {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}
.carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-dots span.active {
    background-color: #333;
}

.descriptionDiv{
    color: #f7eee1;
    text-shadow: 2px 1px 3px #070236, -2px -1px 3px #070236;
    width: 80%;
    margin: 20px auto;
}

.lastDescriptionDiv{
    color: #f7eee1;
    text-shadow: 2px 1px 3px #070236, -2px -1px 3px #070236;
    width: 80%;
    margin: 20px auto;
}

.checkItOut{
    text-decoration: none;
    color: #f7eee1;
}

#toTop{
    padding: 10px;
}
#toTopContainer{
    position: fixed;
    right: 2%;
    bottom: 2%;
}