:root{
    --darkSienna: #300e01;
    --lightCream: #f7eee1;
    --redSpot: #802c0e;
    --brown: #853e1b;
    --darkBlue: #070236;
}

.title{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: var(--darkBlue);
    text-shadow: 2px 1px 3px var(--lightCream), -2px -1px 3px var(--lightCream);
}
.subtitle{
    text-align: center;
    font-style: italic;
    font-family: 'Orbitron', sans-serif;
    color: var(--darkBlue);
    text-shadow: 2px 1px 3px var(--lightCream), -2px -1px 3px var(--lightCream);
}
h3{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 2px 1px 3px var(--lightCream), -2px -1px 3px var(--lightCream);
    color: var(--darkBlue);
}

.footer_div{
    border-top: 5px double var(--darkBlue);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: var(--darkBlue);
    text-shadow: 2px 1px 3px var(--lightCream), -2px -1px 3px var(--lightCream);
    font-weight: bold;
}

html {
    background:
        linear-gradient(to bottom right, 
            rgba(48, 14, 1, 1), 
            rgba(247, 238, 225, 0.5), 
            rgba(133, 62, 27, 0.5), 
            rgba(128, 44, 14, 0.5), 
            rgba(247, 238, 225, 0.5), 
            rgba(48, 14, 1, 1)),
        url('Images/SpaceStockFootage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar_div{
    border-bottom: 5px double var(--darkBlue);
    padding: 10px;
    margin: auto;
    text-align: center;
}

.navBtn{
    width: 30%;
}
.navBtn, button{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: rgba(7, 2, 54, 0.5);
    color: var(--lightCream);
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: rgba(7, 2, 54, 1.0);
}
button:active{
    background-color: #120685;
}